.index {
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f3;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
}

.title-text {
    font-size: 20px;
    font-weight: bold;
}

.logo {
    width: 80px;
    height: 80px;

}

.userInfo {
    margin-right: 20px;
    line-height: 70px;
}

.logOut {
    cursor: pointer;
}

.content {
    display: flex;
    height: calc(100% - 70px);
}

.aside {
    width: 200px;
    background-color: rgb(178, 202, 217);
}

.main {
    flex: 1;
    background-color: #fff;
    overflow-y: hidden;
}

.tab-content {
    display: none;
    height: 100%;
}

.active-tab-content {
    display: block;
}

li {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

/* li:hover {
    background-color: rgb(14, 112, 173);
} */
.li-active {
    background-color: rgb(14, 112, 173);
    color: #fff;
}

/* main区域 */
.main {
    padding: 20px;
}

button {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #569cd6;
    color: #fff;
}

button:hover {
    background-color: #6aaee6;
}

button:active {
    background-color: #419ce7;
}

.deleteBtn {
    background-color: #f56c6c;
}

.deleteBtn:hover {
    background-color: #f27f7f;
}

.deleteBtn:active {
    background-color: #f56c6c;
}

.editBtn {
    background-color: #e6a23c;
    margin-right: 10px;
}

.editBtn:hover {
    background-color: #edb157;
}

.editBtn:active {
    background-color: #e6a23c;
}

.searchInput {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #dcdfe6;
    outline: none;
    padding: 0 10px;
    margin-right: 10px;
}

.operate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table {
    width: 100%;
    height: calc(100% - 80px) !important;
    overflow: auto;
    margin-top: 20px;
}

.userTable tr {
    height: 50px;
}

.userTable {
    width: 100%;
    border: 1px solid #dcdfe6;
    border-collapse: collapse;
    text-align: center;
}

::-webkit-scrollbar {
    /* 对垂直有效 */
    width: 6px;
    /* 水平宽度 */
    height: 6px;
}

/* 滚动条内滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: inset 0 0 3px #e0e0e0;
    background-color: #e0e0e0;
}